<!DOCTYPE html>
<html>
    <head>
        <title>NASA Rover Photo Viewer</title>
        <link href="stylesheet" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    </head>
    <body>
        
        
        
        
        
        
        
        
        
        
