<!DOCTYPE html>
<html>
    <head>
        <title>NASA Rover Photo Viewer</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <style>
            body {
                background-image: url("https://farm6.staticflickr.com/5012/5506441436_e4530a1749.jpg");
                color: white;
                font-family: 'Inconsolata';
                text-align: center;
            }
            
            .pics {
                height: 500px;
                width: 500px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        
        
        
        
        
        
        
        
        
        
