<!DOCTYPE html>
<html>
    <head>
        <title>NASA Rover Photo Viewer</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <h6>Header is linked</h6>
        
        
        
        
        
        
        
        
        
        
