<% include partials/header %>

<h1>NASA Mars Rover Images</h1>

<div class="pics">
    <img src=<%= parsedData["photos"][randomNum]["img_src"] %> style="width: 300px; height: 300px">
    <p>Date Taken: <%= parsedData["photos"][randomNum]["earth_date"]%></p>
</div>

<button><a href="/images">New Picture</a></button>
<button><a href="/">Home</a></button>

<% include partials/footer %>