<% include partials/header %>

<h1>NASA Mars Rover Images</h1>

<div>
    <img src=<%= parsedData["photos"][0]["img_src"] %>>
    <p>Date Taken: <%= parsedData["photos"][0]["earth_date"]%></p>
</div>

<button><a href="/images">New Picture</a></button>
<button><a href="/">Home</a></button>

<% include partials/footer %>